@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "variables";
@import "typography";

body {
  position: relative;
  background: var(--bg-primary);
}

.container {
  @media screen and (min-width: 1320px) {
    max-width: 1295px;
  }
}

.container-fluid {
  max-width: 1150px;
}

.navbar {
  background: var(--gradient-nav);
  backdrop-filter: blur(10px);
  padding: 10px 0;
  transition: 0.3s;

  @media screen and (min-width: 992px) {
    padding: 30px 0;
  }

  &-brand {
    padding: 0;
  }
}

.navbar-nav {
  .switch {
    margin: 0 10px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #0d1318;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.nav-link {
  color: #fff;
  margin-left: 30px;
  text-align: center;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  background: var(--gradient-header);
  padding: 70px 0 0;
  position: relative;
  z-index: 1;
  @media screen and (min-width: 992px) {
    padding: 0;
    height: 100vh;
  }

  h1,
  h2 {
    color: #fff;
  }

  &_image {
    width: 100%;
    @media screen and (min-width: 992px) {
      width: auto;
      position: absolute;
      right: 0;
      bottom: 50%;
      transform: translateY(50%);
      z-index: -1;
    }
  }
}

.btn {
  &_main {
    padding: 20px 40px;
    background: var(--primary);
    border-radius: 3px;
    color: var(--secondary-text-color);

    &:hover {
      color: var(--secondary-text-color);
      background: var(--primary-dark);
      border-color: var(--primary);
    }
  }
}

.arrow_down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  height: 40px;
  transform: translateX(-50%);
}

.about {
  height: 100vh;
  padding-top: 100px;
  background: #1b1b1b;

  .container {
    height: 100%;
  }
  &_text {
    max-width: 610px;
    text-align: center;
    color: #fff;
    margin-top: 120px;
    @media screen and (min-width: 992px) {
      margin-top: 0;
    }
  }
}

.header {
  &_small {
    color: var(--text-color-light);
  }
}

.features {
  padding-top: 20px;
  &_row {
    margin: 80px 0 160px;
  }
  &_text {
    max-width: 450px;
  }
  &_header {
    margin: 25px 0 20px;
  }
  &_image {
    width: 100%;
    max-width: 510px;
  }
}

.features_cards {
  margin: 0px 0 160px;
}

.feature_card {
  max-width: 370px;
  &_image {
  }

  &_text {
  }
  &_header {
    margin: 40px 0 18px;
  }
  &_p {
  }
}

#counters {
  margin: 0px 0 160px;
  .counter {
    font-size: 59px;
    font-weight: 400;
  }
}

.how-to-use {
  padding-top: 20px;

  margin: 0px 0 160px;

  &_row {
    margin: 80px 0 160px;
    @media screen and (min-width: 992px) {
      margin: 80px 0 160px 0;
    }
  }

  &_text {
    @media screen and (min-width: 1400px) {
      padding: 0 80px;
    }
  }

  &_image {
    width: 100%;
    max-width: 520px;
  }

  &_header {
    margin: 25px 0 20px;
  }
}

.quote {
  max-width: 700px;
  margin: 0 auto;
}

.slide {
  padding-bottom: 110px;
  &_text {
    margin: 60px 0 18px;
    font-size: 24px;
    line-height: 40px;
  }
  &_src {
    div {
      color: var(--text-color);
    }

    &_hr {
      width: 30px;
      height: 1px;
      background: #d3d3d3;
      margin: 0 20px;
    }
  }
}

.splide__pagination__page {
  border-radius: 0;
  background: rgba(34, 34, 34, 0.4);
  &.is-active {
    background: #222;
    transform: none;
  }
}

.brands {
  margin: 120px 0;
}

.images {
  background: var(--bg-primary);
}

.download {
  padding: 70px 0 50px;
  background: url(img/download.svg), var(--gradient-footer);

  &_header {
    color: var(--secondary-text-color);
    margin-bottom: 30px;
  }

  @media screen and (min-width: 992px) {
    padding: 165px 0 140px;
  }
}

.btn {
  padding: 20px 40px;
  color: var(--secondary-text-color);
  margin: 10px 5px;
  &_main {
    border-radius: 3px;
    background: var(--primary);
  }
  &_secondary {
    border: 1px solid var(--primary-border);
  }
}

.subscribe {
  background: #1b1b1b;
  padding: 70px 0 50px;
  &_header {
    color: var(--secondary-text-color);
    margin-bottom: 20px;
  }
  &_text {
    margin-bottom: 40px;
  }
  &_input {
    padding: 20px;
    border-radius: 3px 0px 0px 3px;
    border: none;
    &:placeholder {
      color: var(--input-text);
    }
  }
  &_btn {
    padding: 20px;
    background: var(--primary);
    color: var(--input-text);
    border-radius: 0px 3px 3px 0px;
    border-style: none;
  }
  @media screen and (min-width: 992px) {
    padding: 130px 0 125px;
  }
}

.footer {
  background: #1b1b1b;
  padding: 20px 0;
  @media screen and (min-width: 992px) {
    padding: 20px 0 70px;
  }
  &_logo {
    margin-bottom: 30px;
  }
  &_link {
    text-decoration: none;
    color: var(--text-color);
    margin: 5px 15px;
    @media screen and (min-width: 992px) {
      margin: 0 15px;
    }
  }
}

.fp-watermark {
  display: none;
}
