@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "variables";
@import "typography";

body {
  position: relative;
  background: var(--bg-primary);
}

.container {
  @media screen and (min-width: 1320px) {
    max-width: 1295px;
  }
}

.container-fluid {
  max-width: 1150px;
}

.navbar {
  background: var(--gradient-header);
  padding: 10px 0;
  transition: 0.3s;

  @media screen and (min-width: 992px) {
    padding: 30px 0;
  }

  &-brand {
    padding: 0;
  }
}

.nav-link {
  color: #fff;
  margin-left: 30px;
  text-align: center;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  background: var(--gradient-header);
  padding: 70px 0 0;
  position: relative;
  z-index: 1;
  @media screen and (min-width: 992px) {
    padding: 0;
    height: 100vh;
  }

  h1,
  h2 {
    color: #fff;
  }

  &_image {
    width: 100%;
    @media screen and (min-width: 992px) {
      width: auto;
      position: absolute;
      right: 0;
      bottom: 50%;
      transform: translateY(50%);
      z-index: -1;
    }
  }
}

.btn {
  &_main {
    padding: 20px 40px;
    background: var(--primary);
    border-radius: 3px;
    color: var(--secondary-text-color);

    &:hover {
      color: var(--secondary-text-color);
      background: var(--primary-dark);
      border-color: var(--primary);
    }
  }
}

.arrow_down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  height: 40px;
  transform: translateX(-50%);
}

.about {
  height: 100vh;
  padding-top: 100px;
  background: #1b1b1b;

  .container {
    height: 100%;
  }
  &_text {
    max-width: 610px;
    text-align: center;
    color: #fff;
    margin-top: 120px;
    @media screen and (min-width: 992px) {
      margin-top: 0;
    }
  }
}

.header {
  &_small {
    color: var(--text-color-light);
  }
}

.features {
  &_row {
    margin: 80px 0;
  }
  &_text {
    max-width: 450px;
  }
  &_header {
    margin: 25px 0 20px;
  }
  &_image {
    width: 100%;
    max-width: 510px;
  }
}

.feature_card {
  max-width: 370px;
  &_image {
  }

  &_text {
  }
  &_header {
    margin: 40px 0 18px;
  }
  &_p {
  }
}

#counters {
  height: 100vh;
  .counter {
    font-size: 59px;
    font-weight: 400;
  }
}
