@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  --primary: #fc0a7e;
  --primary-dark: #cf0063;
  --primary-border: #b04bb3;
  --bg-primary: #fff;
  --bg-secondary: #1b1b1b;
  --gradient-header: linear-gradient(
      287.15deg,
      #450e4b 0%,
      #3c0c41 24.48%,
      rgba(207, 0, 99, 0) 100%
    ),
    #cf0063;
  --gradient-footer: linear-gradient(
      276.18deg,
      #6e28b1 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #fc0a7e;
  --primary-text-color: #000;
  --secondary-text-color: #fff;
  --text-color: #6b6b6b;
  --text-color-light: #a8a8a8;
  --input-text: #1c1c1c;
  --dots-color: #222222;
}

body.dark {
  --primary: #fc0a7e;
  --primary-dark: #cf0063;
  --primary-border: #b04bb3;
  --bg-primary: #1b1b1b;
  --bg-secondary: #fff;
  --gradient-header: linear-gradient(
      287.15deg,
      #450e4b 0%,
      #3c0c41 24.48%,
      rgba(207, 0, 99, 0) 100%
    ),
    #cf0063;
  --gradient-footer: linear-gradient(
      276.18deg,
      #6e28b1 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    #fc0a7e;
  --primary-text-color: #fff;
  --secondary-text-color: #000;
  --text-color: #6b6b6b;
  --text-color-light: #a8a8a8;
  --input-text: #1c1c1c;
  --dots-color: #e5e5e5;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

html {
  font-size: 12px;
}
@media screen and (min-width: 365px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

* {
  font-family: "Gothic A1", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
}

p,
.p {
  font-size: 14px;
  line-height: 1.88;
  font-weight: 400;
  color: var(--text-color);
}
@media screen and (min-width: 768px) {
  p,
.p {
    font-size: 14px;
    line-height: 1.88;
    font-weight: 400;
  }
}
@media screen and (min-width: 992px) {
  p,
.p {
    font-size: 16px;
    line-height: 1.88;
    font-weight: 400;
  }
}

.h1,
h1 {
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .h1,
h1 {
    font-size: 70px;
    line-height: 1;
    font-weight: 400;
  }
}
@media screen and (min-width: 992px) {
  .h1,
h1 {
    font-size: 80px;
    line-height: 1;
    font-weight: 400;
  }
}

.h2,
h2 {
  font-size: 26px;
  line-height: 1.46;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .h2,
h2 {
    font-size: 28px;
    line-height: 1.46;
    font-weight: 400;
  }
}
@media screen and (min-width: 992px) {
  .h2,
h2 {
    font-size: 30px;
    line-height: 1.46;
    font-weight: 400;
  }
}

.h3,
h3 {
  font-size: 28px;
  line-height: 1.26;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .h3,
h3 {
    font-size: 32px;
    line-height: 1.26;
    font-weight: 400;
  }
}
@media screen and (min-width: 992px) {
  .h3,
h3 {
    font-size: 38px;
    line-height: 1.26;
    font-weight: 400;
  }
}

.h4,
h4 {
  font-size: 14px;
  line-height: 1.33;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .h4,
h4 {
    font-size: 16px;
    line-height: 1.33;
    font-weight: 700;
  }
}
@media screen and (min-width: 992px) {
  .h4,
h4 {
    font-size: 18px;
    line-height: 1.33;
    font-weight: 700;
  }
}

.h5,
h5 {
  font-size: 14px;
  line-height: 1.33;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .h5,
h5 {
    font-size: 16px;
    line-height: 1.33;
    font-weight: 700;
  }
}
@media screen and (min-width: 992px) {
  .h5,
h5 {
    font-size: 18px;
    line-height: 1.33;
    font-weight: 700;
  }
}

.h6,
h6 {
  font-size: 12px;
  line-height: 1.67;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .h6,
h6 {
    font-size: 12px;
    line-height: 1.67;
    font-weight: 400;
  }
}
@media screen and (min-width: 992px) {
  .h6,
h6 {
    font-size: 12px;
    line-height: 1.67;
    font-weight: 400;
  }
}

body {
  position: relative;
  background: var(--bg-primary);
}

@media screen and (min-width: 1320px) {
  .container {
    max-width: 1295px;
  }
}

.container-fluid {
  max-width: 1150px;
}

.navbar {
  background: var(--gradient-header);
  padding: 10px 0;
  transition: 0.3s;
}
@media screen and (min-width: 992px) {
  .navbar {
    padding: 30px 0;
  }
}
.navbar-brand {
  padding: 0;
}

.nav-link {
  color: #fff;
  margin-left: 30px;
  text-align: center;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  background: var(--gradient-header);
  padding: 70px 0 0;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .header {
    padding: 0;
    height: 100vh;
  }
}
.header h1,
.header h2 {
  color: #fff;
}
.header_image {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .header_image {
    width: auto;
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    z-index: -1;
  }
}

.btn_main {
  padding: 20px 40px;
  background: var(--primary);
  border-radius: 3px;
  color: var(--secondary-text-color);
}
.btn_main:hover {
  color: var(--secondary-text-color);
  background: var(--primary-dark);
  border-color: var(--primary);
}

.arrow_down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  height: 40px;
  transform: translateX(-50%);
}

.about {
  height: 100vh;
  padding-top: 100px;
  background: #1b1b1b;
}
.about .container {
  height: 100%;
}
.about_text {
  max-width: 610px;
  text-align: center;
  color: #fff;
  margin-top: 120px;
}
@media screen and (min-width: 992px) {
  .about_text {
    margin-top: 0;
  }
}

.header_small {
  color: var(--text-color-light);
}

.features_row {
  margin: 80px 0 160px;
}
.features_text {
  max-width: 450px;
}
.features_header {
  margin: 25px 0 20px;
}
.features_image {
  width: 100%;
  max-width: 510px;
}

.features_cards {
  margin: 0px 0 160px;
}

.feature_card {
  max-width: 370px;
}
.feature_card_header {
  margin: 40px 0 18px;
}
#counters {
  margin: 0px 0 160px;
}
#counters .counter {
  font-size: 59px;
  font-weight: 400;
}

.how-to-use {
  margin: 0px 0 160px;
}
.how-to-use_row {
  margin: 80px 0 160px;
}
@media screen and (min-width: 992px) {
  .how-to-use_row {
    margin: 80px 0 160px 0;
  }
}
@media screen and (min-width: 1400px) {
  .how-to-use_text {
    padding: 0 80px;
  }
}
.how-to-use_image {
  width: 100%;
  max-width: 520px;
}
.how-to-use_header {
  margin: 25px 0 20px;
}

.quote {
  max-width: 700px;
  margin: 0 auto;
}

.slide {
  padding-bottom: 110px;
}
.slide_text {
  margin: 60px 0 18px;
  font-size: 24px;
  line-height: 40px;
}
.slide_src div {
  color: var(--text-color);
}
.slide_src_hr {
  width: 30px;
  height: 1px;
  background: #d3d3d3;
  margin: 0 20px;
}

.splide__pagination__page {
  border-radius: 0;
  background: rgba(34, 34, 34, 0.4);
}
.splide__pagination__page.is-active {
  background: #222;
  transform: none;
}

.brands {
  margin: 120px 0;
}/*# sourceMappingURL=main.css.map */